name: Docker Compose Lint

permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  dclint:
    runs-on: ubuntu-latest
    name: dclint
    steps:
      - uses: actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@v6
      - run: npm install dclint
      - run: npx dclint */docker-compose.yaml
